.Footer {
  width: 100vw;
  height: 300px;
  border-top: 1px solid #eeeeee;
  //   background-color: ;
  margin-top: 100px;
  .main {
    width: 1050px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    &-Wrapper {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      color: #515151;
      margin: 20px;
      div {
        margin: 10px;
      }
    }
  }

  .bottom {
    height: 100px;
    background-color: #f7f7f7;
    bottom: 0;
  }
}
