.product {
  position: relative;
  width: 1050px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  .main {
    display: flex;
    -webkit-box-pack: justify;
    overflow: hidden;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .itemImg {
      width: 430px;
      height: 552px;
      background: url(https://img-cf.kurly.com/shop/data/goods/159719883649l0.jpg),
        url(https://res.kurly.com/_next/static/images/noimg-150x195-2c819ff….svg)
          no-repeat 50% 50%;
      -webkit-background-size: cover, contain;
      background-size: cover, contain;
      background-color: #f5f5f5;
    }

    .explain {
      width: 560px;
      &-1 {
        font-weight: 500;
        line-height: 1.36;
        letter-spacing: -0.5px;
        color: #999;
        margin-bottom: 6px;
        width: 500px;
      }
      &-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &-1 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          h1 {
            width: 500px;
            font-weight: 500;
            font-size: 24px;
            color: #333;
            line-height: 34px;
            letter-spacing: -0.5px;
            word-break: keep-all;
            margin-right: 20px;
          }
          button {
            width: 40px;
            height: 40px;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBzdHJva2U9IiNEREQiIGN4PSIyMCIgY3k9IjIwIiByPSIxOS41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAuNSAxMSkiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjgiPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIzIiBjeT0iOSIgcj0iMi4xIi8+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUuMTM3KSI+CiAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSI4Ljg2MyIgY3k9IjMiIHI9IjIuMSIvPgogICAgICAgICAgICAgICAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgZD0iTTAgOC4xMzYgNi4zNjMgNC41Ii8+CiAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPGcgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgNS4xMzcgMTgpIj4KICAgICAgICAgICAgICAgIDxjaXJjbGUgY3g9IjguODYzIiBjeT0iMyIgcj0iMi4xIi8+CiAgICAgICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMCA4LjEzNiA2LjM2MyA0LjUiLz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==)
              no-repeat 50% 50%;
            border: none;
          }
        }
        h2 {
          padding-top: 5px;
          font-size: 14px;
          font-weight: 400;
          color: #b5b5b5;
          line-height: 19px;
          letter-spacing: -0.5px;
        }
      }
      h2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        padding-top: 19px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: -0.5px;
        &-1 {
          padding-right: 4px;
          font-size: 28px;
          color: #333;
        }
        &-2 {
          display: inline-block;
          position: relative;
          top: 3px;
          font-size: 18px;
          color: #333;
          vertical-align: top;
        }
      }

      &-3 {
        height: 19px;
        display: inline-flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        width: 350px;
        min-height: 38px;
        padding: 10px 14px 10px 16px;
        background-color: rgba(189, 118, 255, 0.08);
        border-radius: 4px;
        margin-top: 12px;
      }

      &-4 {
        margin-top: 20px;
        dl {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-align-items: flex-start;
          -webkit-box-align: flex-start;
          -ms-flex-align: flex-start;
          align-items: flex-start;
          overflow: hidden;
          width: 100%;
          padding: 12px 0 13px;
          border-top: 1px solid #f4f4f4;
          font-size: 14px;
          letter-spacing: -0.5px;
        }
        dt {
          width: 128px;
          height: 100%;
          color: #666;
          font-weight: 400;
          line-height: 19px;
        }
      }
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

//상품 추가 페이지
.productEdit-wrapper {
  min-width: 1050px;
  margin-top: 90px;
  margin-bottom: 60px;

  .main {
    width: 340px;
    margin: 0px auto;
    letter-spacing: -0.6px;
  }
}

//상품 리스트
.itemList-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.item-list {
  text-align: center;
  width: 1050px;
  .title {
    height: 100px;
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif; //폰트 사용
  }

  .add-btn {
    // display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 52px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
  }
}

.item-wrapper {
  text-align: center;
  width: 1050px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .item {
  }
}

@media screen and (max-width: 800px) {
  .item-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

// 상품 추가페이지
.productadd-wrapper {
  .input-set {
    display: flex;
  }
  .input-wrapper {
    position: relative;
    height: 32px;
    input {
      font-size: 14px;
      width: 200px;
      height: 30px;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      border: 1px solid #dddddd;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #333333;
      outline: none;
      box-sizing: border-box;
    }
  }
  .input-wrapper-textarea {
    position: relative;
    height: 38px;
    textarea {
      font-size: 14px;
      width: 300px;
      height: 38px;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      border: 1px solid #dddddd;
      // font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #333333;
      outline: none;
      box-sizing: border-box;
    }
  }
}
.submit {
  padding: 10px;
  text-align: center;
  overflow: hidden;
  width: 200px;
  height: 52px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
