@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  img {
    width: 100%;
  }
}

.ItemContainer-main {
  width: 100vw;
  .recommend-wrapper {
    .main {
      height: 800px;
      display: flex;
      flex-direction: column;
      .title {
        height: 100px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Noto Sans KR", sans-serif; //폰트 사용
        font-weight: 500;
      }

      .items {
        .item {
          display: flex;
          position: relative;
          width: 1050px;
          margin: 0px auto;

          .explain-one {
            width: 249px;
            height: 0px auto;
            margin-right: 18px;
            img {
              width: 249px;
            }
          }

          .explain-img {
            width: 249px;
            height: 321px;
            overflow: hidden;
          }

          .explain-one img {
            width: 249px;
            height: 0px auto;
            transition: all 0.5s ease-in-out 0s;
          }
          .explain-one:hover img {
            height: 321px;
            transform: scale(1.04);
          }
        }
      }
    }
  }
}

.adImg {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
