@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  img {
    width: 100%;
  }
}

.ItemContainer-main {
  width: 100vw;
  .recommend-wrapper {
    .main {
      .title {
        height: 200px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: "Noto Sans KR", sans-serif; //폰트 사용
        font-weight: 500;
      }

      .items {
        .item {
          display: flex;
          position: relative;
          width: 1050px;
          margin: 0px auto;

          .explain-one {
            width: 249px;
            margin-right: 18px;
            overflow: hidden;
            img {
              width: 249px;
            }
          }

          .explain-one img {
            width: 249px;
            transition: all 0.2s linear;
          }
          .explain-one:hover img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
